<h2>Dashboard</h2>
<p> User : <%= @current_user.email %> </p>

<h3> Your available teams : </h3>
<ul class="nav nav-pills">
  <%= for team <- @teams do %>
  <li><%=team.name%> <%#= link team.name, to: stashed_path(@conn, :get, team.id) %></li>
<% end %>
  <li><%= link "Add a New Team", to: team_path(@conn, :new) %></li>
</ul>
